/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    #nav > li {
        display: block;
    }

    #nav .subnav {
        background-color: #333;
        position: initial;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header {
        overflow: hidden;
    }

    #header .searchbutton {
        display: none;
    }
    #nav {
        display: block;
    }
    #header .mobile-menu-btn {
        display: block;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .ava {
        width: 60%;
    }

    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .contact-form {
        margin-top: 16px;
    }
}

/* Tablet & Mobile */
@media (max-width: 1023px) {
    .place-buy-btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}